<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/global.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>

<body>
  <nav class="navbar">
    <h1 class="logo">HotCofee</h1>
    <div>
      <h1>Home</h1>
      <a href="/books">
        <h1>Article</h1>
      </a>

    </div>

  </nav>
  <section class="hero-container">
    <div class="hero-left-container">
      <div>
        <h1>Make better coffee</h1>
        <h3>why learn how to blog?</h3>
      </div>
    </div>
    <div class="hero-right-container">
      <img src="/images/image1.svg" alt="gambar">
    </div>
  </section>
  <section class="description-container">
    <div>
      <h1>long established</h1>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when
        looking at its layout. The point of using Lorem Ipsum is that....</p>
    </div>
    <img src="/images/person.png" alt="gambar-orang">
  </section>
  <section class="content-container">
    <div class="card-container"><img src="/images/card1.png" alt="card1">
      <div class="card-body">
        <h1>long established</h1>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when
          looking at its layout. The point of using Lorem Ipsum is that....</p>
      </div>
      <div class="card-footer">
        <h4>May 20th 2020</h4>
        <h4>Read more</h4>
      </div>
    </div>
    <div class="card-container"><img src="/images/card2.png" alt="card2">
      <div class="card-body">
        <h1>long established</h1>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when
          looking at its layout. The point of using Lorem Ipsum is that....</p>
      </div>
      <div class="card-footer">
        <h4>May 20th 2020</h4>
        <h4>Read more</h4>
      </div>
    </div>
    <div class="card-container"><img src="/images/card3.png" alt="card2">
      <div class="card-body">
        <h1>long established</h1>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when
          looking at its layout. The point of using Lorem Ipsum is that....</p>
      </div>
      <div class="card-footer">
        <h4>May 20th 2020</h4>
        <h4>Read more</h4>
      </div>
    </div>
  </section>
  <section class="information-container">
    <div class="informtion-left-container">
      <div>
        <h1>What is Lorem Ipsum?</h1>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when
          looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
          distribution...</p>
      </div>
    </div>
    <img src="/images/info.png" alt="info">
  </section>
  <section class="button-container">
    <button class="custom-btn">See More Icon</button>
  </section>
  <footer class="footer">
    <span><b>hotcoffee</b> 2020 copyright all rights reserved
    </span>
  </footer>
</body>

</html>